{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}

{% block content %}

{% comment %} Elegir rol {% endcomment %}
{% if not rol %}
<article id="ingreso" class="register select select-user">
    <header>
        <h1 class="header-title">Nuevo usuario</h1>
    </header>
    <section class="card">
        <header class="card-header">
            <h1 class="card-title">Rol</h1>
            <a class="back-button" href="#" role="button" onclick="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg>
            </a>
        </header>
        <div class="card-body">
            <ul class="col">
                <a role="button" href="?rol=1">
                    <img src="{% static "assets/icons/profesor.png" %}" alt="">
                    <span>Instructor</span>
                </a>
            </ul>
            <ul class="col">
                <a role="button" href="?rol=2">
                    <img src="{% static "assets/icons/aprendiz.png" %}" alt="">
                    <span>Aprendiz</span>
                </a>
            </ul>
            <ul class="col">
                <a role="button" href="?rol=3">
                    <img src="{% static "assets/icons/visitante.png" %}" alt="">
                    <span>Visitante</span>
                </a>
            </ul>
            <ul class="col">
                <a role="button" href="?rol=4">
                    <img src="{% static "assets/icons/administrativo.png" %}" alt="">
                    <span>Administrativo</span>
                </a>
            </ul>
        </div>
    </section>
</article>

{% else %}
<article id="ingreso" class="register form user">
    <section class="card">
        <header class="card-header">
            <h1 class="card-title">
                {% if rol == "1" %}
                    Registrar Instructor
                {% elif rol == "2" %}
                    Registrar Aprendiz
                {% elif rol == "3" %}
                    Registrar Visitante
                {% elif rol == "4" %}
                    Registrar Administrativo
                {% endif %}
            </h1>
            <a class="back-button" href="#" role="button" onclick="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                  </svg>
            </a>
        </header>
        <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field, errors in form.errors.items %}
                        <strong>{{ field }}:</strong>
                        {% for error in errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="rol" value="{{rol}}">
                <div class="form-group row">
                    <div class="col">
                        <div class="input-box">
                            {{form.nombres}}
                            <label>{{form.nombres.label}}</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-box">
                            {{form.apellidos}}
                            <label>{{form.apellidos.label}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        {{form.tipodocumento}}
                    </div>
                    <div class="col">
                        <div class="input-box">
                            {{form.documento}}
                            <label>{{form.documento.label}}</label>
                        </div>
                    </div>
                </div>
                {% if rol == "2" %}
                <div class="form-group row">
                    <div class="col">
                        <div class="input-box">
                            {{form.correo}}
                            <label>{{form.correo.label}}</label>
                        </div>
                    </div>                 
                    <div class="col">
                        <div class="input-box">
                            {{form.telefono}}
                            <label>{{form.telefono.label}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        {{form.centro}}
                    </div>
                    <div class="col">
                        {{form.ficha}}
                    </div>                           
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label>{{form.rol.label}}</label>
                        {{form.rol}}
                    </div>  
                </div>
                {% elif rol == "1" or rol == "4"%}
                <div class="form-group row">
                    <div class="col">
                        <div class="input-box">
                            {{form.correo}}
                            <label>{{form.correo.label}}</label>
                        </div>
                    </div>                 
                    <div class="col">
                        <div class="input-box">
                            {{form.telefono}}
                            <label>{{form.telefono.label}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        {{form.centro}}
                    </div>
                    <div class="col">
                        <label>{{form.rol.label}}</label>
                        {{form.rol}}
                    </div>                          
                </div>
                {% elif rol == "3" %}
                <div class="form-group row">
                    <div class="col">
                        <div class="input-box">
                            {{form.correo}}
                            <label>{{form.correo.label}}</label>
                        </div>
                    </div>                 
                    <div class="col">
                        <div class="input-box">
                            {{form.telefono}}
                            <label>{{form.telefono.label}}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label>{{form.rol.label}}</label>
                        {{form.rol}}
                    </div>  
                </div>            
                {% endif %}
                <div class="form-group row">
                    <div class="col-10">
                        <label>{{form.imagen.label}}</label>
                        {{form.imagen}}
                    </div> 
                    <div class="col mt-4">
                        <button class="btn btn-green" type="button" id="user-picture-btn" data-bs-toggle="modal" data-bs-target="#camaraModal">Tomar foto</button>
                    </div>
                    <!-- Modal Camara -->
                    <div class="modal fade" id="camaraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Tomar Foto</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <video id="user-cam"></video>
                                <canvas id="user-picture"></canvas>
                                <div>
                                    <button type="button" class="btn btn-green btn-picture" id="user-takepicture-btn" onclick="captureImage()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                            <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                                          </svg>
                                    </button>
                                    <button type="button" class="btn btn-green btn-picture" id="user-savepicture-btn" onclick="saveImage()" data-bs-dismiss="modal">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                          </svg>
                                    </button>
                                    <button type="button" class="btn btn-green btn-picture" id="user-repeatpicture-btn" onclick="repeatImage()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                        </svg>
                                    </button>
                                </div>                                
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>                
                <div class="form-submit">
                    <button class="form-btn btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </section>
</article>
{% endif %}
{% endblock %}