{% extends 'layouts/layout_admin.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{%block content %}
<article id="container-admin" class="users">
    <section class="card">
        <!-- Vista General -->
        <section id="main">
          <header class="card-header">
              <h1 class="card-title">Usuarios</h1>
              <!-- Btn Registrar Usuario -->
              <button type="button" class="btn btn-green add" id="btn-register-users">Registrar usuario</button>         
          </header>
          <!-- Seccion Search -->
          <div class="card-search">
              <div class="input-box search">
                  <input type="text" placeholder="Buscar" id="search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search icon" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
              </div>
          </div>
          <!-- Mensajes -->
          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-success" role="alert">
              {{message}}
              </div>
          {% endfor %}
          {% endif %}
          <div class="card-body">
              <!-- Card Tabla-->
              <div class="card card-table">
                  <!-- Seccion Btn de Accion -->
                  <div class="card-table-buttons">                    
                    <!-- Btn Eliminar -->
                    <button type="button" class="btn btn-outline-danger btn-delete" title="Eliminar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                      </svg>
                    </button>
                         
                  </div>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Id</th>
                          <th scope="col">Nombres</th>
                          <th scope="col">Apellidos</th>
                          <th scope="col">Rol</th>
                          <th scope="col">Ficha</th>
                          <th scope="col">Documento</th>
                          <th scope="col">Centro</th>
                          <th scope="col">Telefono</th>
                          <th scope="col">Dispositivo</th>
                          <th scope="col">Vehiculo</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody class="tbody">
                        {% for user in users %}
                        <tr>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input item-check" type="checkbox" value="{{user.idusuario}}" name="check-user">
                            </div>
                          </td>
                          <th scope="row">{{user.idusuario}}</th>
                          <td>{{user.nombres}}</td>
                          <td>{{user.apellidos}}</td>
                          <td>{{user.rol}}</td>
                          <td>{{user.ficha}}</td>
                          <td>{{user.tipodocumento}} {{user.documento}}</td>
                          <td>{{user.centro}}</td>
                          <td>{{user.telefono}}</td>
                          <td>{% if user.dispositivos_set %}{% for dispositivo in user.dispositivos_set.all %}{{dispositivo}}{% endfor %}{% else %}Ninguno{% endif %}</td>
                          <td>{% for vehiculo in user.vehiculos_set.all %}{{ vehiculo }}{% endfor %}</td>
                          <td class="actions">
                            <div class="dropdown">
                              <button class="btn btn-secondary btn-actions" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                </svg>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <button type="button" class="dropdown-item" id="delete-user" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="{{user.idusuario}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon-dropdown-item bi bi-trash" viewBox="0 0 16 16">
                                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                    Eliminar
                                  </button>
                                  
                                </li>
                                <li>
                                  <a type="button" class="dropdown-item" href="{% url 'edituser' id=user.idusuario %}">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="icon-dropdown-item bi bi-pencil-square" viewBox="0 0 16 16">
                                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                    Editar
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
        </section>
        <!-- Modal -->
        {% include 'pages\usuarios\delete.html' %}  
        <!-- Seccion Select -->
        <section id="select">
          <header class="card-header">
            <h1 class="card-title">Rol</h1>
            <!-- Btn atras -->
            <a class="back-button" href="#" role="button" id="btn-back">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
            </a>
          </header>
          <div class="card-body">
            <ul class="col select-rol">
              <a role="button" href="{% url 'registeruser' rol=1 %}">
                <img src="{% static "assets/icons/profesor.png" %}" alt="">
                <span>Instructor</span>
              </a>
            </ul>
            <ul class="col select-rol">
                <a role="button" href="{% url 'registeruser' rol=2 %}">
                  <img src="{% static "assets/icons/aprendiz.png" %}" alt="">
                  <span>Aprendiz</span>
                </a>
            </ul>
            <ul class="col select-rol">
                <a role="button" href="{% url 'registeruser' rol=3 %}">
                  <img src="{% static "assets/icons/visitante.png" %}" alt="">
                  <span>Visitante</span>
                </a>
            </ul>
            <ul class="col select-rol">
              <a role="button" href="{% url 'registeruser' rol=4 %}">
                <img src="{% static "assets/icons/administrativo.png" %}" alt="">
                <span>Administrativo</span>
              </a>
            </ul>
          </div>
        </section>
    </section>
</article>
{% endblock %}


  
  